<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <servlet>
        <servlet-name>SimpleServlet</servlet-name>
        <servlet-class>us.souther.simple.SimpleServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SimpleServlet</servlet-name>
        <url-pattern>/simple-servlet</url-pattern>
    </servlet-mapping>

<servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>org.john.servlets.HelloWorld</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/hello-world</url-pattern>
    </servlet-mapping>

	<servlet>
        <servlet-name>SecondServlet</servlet-name>
        <servlet-class>org.john.servlets.second.SecondServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SecondServlet</servlet-name>
        <url-pattern>/second-servlet</url-pattern>
    </servlet-mapping>
  
   <servlet>
        <servlet-name>Opener</servlet-name>
        <servlet-class>org.resources.Opener</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Opener</servlet-name>
        <url-pattern>/opener</url-pattern>
    </servlet-mapping>
	
</web-app>
